<h1>Welcome, {{userName}}</h1>
<form>
  <input [(ngModel)]="userName" type="text" name="user">
</form>
<h1>To Do List {{month}}/{{day}}/{{year}}</h1>
<h3>Epicodus {{currentFocus}}</h3>
<app-task-list [childTaskList]='masterTaskList' (clickSender)="editTask($event)" (addTask)='finish($event)'></app-task-list>
<div *ngIf="selectedTask">
  <h3>{{selectedTask.description}}</h3>
  <p>Task Complete? {{selectedTask.done}}</p>
  <label>Enter Task Description</label>
  <input [(ngModel)]='selectedTask.description'>
  <label>Enter Task Priority (1-3):</label>
  <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="1">1 (Low Priority)<br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="2">2 (Medium Priority)<br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="3">3 (High Priority)<br>
  <button (click)="finishEditing()">Submit</button>
</div>
<div *ngIf="addANewTask">
  <label>Task Name</label>
  <input id="task">
  <label>Task Priority</label>
  <input type="radio" name="priority" value="1" ngModel>1
  <input type="radio" name="priority" value="2" ngModel>2
  <input type="radio" name="priority" value="3" ngModel>3
  <button (click)='finishAddTask()'>Sumbit</button>
</div>
