<h1>Welcome, {{userName}}</h1>
<form>
  <input [(ngModel)]="userName" type="text" name="user">
</form>
<h1>To Do List {{month}}/{{day}}/{{year}}</h1>
<h3>Epicodus {{currentFocus}}</h3>
<app-task-list [childTaskList]='masterTaskList' (clickSender)="editTask($event)" (addTask)='finish($event)'></app-task-list>
<app-edit-task [selectedTask]='selectedTask' (clickedDone)="finishedEditing()"></app-edit-task>
<div *ngIf="addANewTask">
  <label>Task Name</label>
  <input id="task">
  <label>Task Priority</label>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <button (click)='finishAddTask()'>Sumbit</button>
</div>
